<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}/temp/nlog-internal.log">

	<targets>
		<target name="toFile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMMdd}.LOG"
			archiveFileName="${basedir}/Logs/${date:format=yyyyMMdd}.{#}.txt"
            createDirs="true" keepFileOpen="true" autoFlush="false"
            openFileFlushTimeout="10" openFileCacheTimeout="30" archiveAboveSize="10240"
            archiveNumbering="Sequence" concurrentWrites="true" encoding="UTF-8"
			layout="${date:format=yyyy}-${date:format=MM}-${date:format=dd} ${date:format=HH}:${date:format=mm}:${date:format=ss}: [${level}] ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
		<target name="toConsole" xsi:type="ColoredConsole"
			layout="${date:format=yyyy}-${date:format=MM}-${date:format=dd} ${date:format=HH}:${date:format=mm}:${date:format=ss}: [${level}] ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
		<target name="toSeq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
			<target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="7LG8GZJPGDDvVzcK1AyP">
				 <property name="ThreadId" value="${threadid}" as="number" />
				 <property name="MachineName" value="${machinename}" />
				 <property name="Exception" value="${exception:format=tostring}" />
			</target>
		</target>
	</targets>

	<rules>
		<logger name="*" minLevel="Info" maxlevel="Fatal" writeTo="toFile" />
		<logger name="*" minlevel="Debug" writeTo="toConsole" />
		
		<logger name="traceMessage" minLevel="Info" maxlevel="Fatal" writeTo="toSeq" />
		<logger name="traceMessage" minLevel="Info" maxlevel="Fatal" writeTo="toFile" />
		<logger name="traceMessage" minlevel="Debug" writeTo="toConsole" />
	</rules>
</nlog>
